.details{
    background-image: url('./dark.webp');
    background-size:cover;
    background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
    color: #fff;
  }
  
  .details h1 {
    font-size: 5rem;
    margin-bottom: 20px;
    background-color: antiquewhite;
  }
  
  .details p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  

  