/* SideComponent.css */
.container {
  display: flex;
  height: 100vh; /* Full height */
}

.image-side {
  flex: 3; /* Image side takes more space */
  background-image: url('./teal.webp'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  height: 630px;
  width: 500px;
}

.h1-side{
  color: beige;
}

.content-side {
  background-image: url('./mux.png'); /* Replace with your image URL */
  flex: 1; /* Content side takes 1 part of the available space */
  background-color: #227e89;
  padding: 10; /* Remove padding from content-side */
  height: 630px; /* Full vertical height */
  display: flex;
  color: aliceblue;
  justify-content: flex-end; /* Align children (form) to the right */
  align-items: center; /* Vertically center the form */
}
